<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RICH TRANTER</title>
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Monoton|Inconsolata" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{{{ body }}}

</body>
</html>